<div id="order_status" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#order_status" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    {formbuilder:41770} 
  </div>
</div>

<div id="return" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#return" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    {formbuilder:24707}
  </div>
</div>

<div id="sales-contact-form" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#sales-contact-form" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    {formbuilder:24706}
  </div>
</div>

<div id="inquiries-contact-form" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#inquiries-contact-form" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    {formbuilder:24817}
  </div>
</div>

<div id="pro-contact-form" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#pro-contact-form" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    {formbuilder:24818}
  </div>
</div>

<div id="price-match-contact-form" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#price-match-contact-form" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    {formbuilder:26097}
  </div>
</div>


<div id="google_form_1" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#google_form_1" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    <div class="body">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeZX288fxxZeJwZdBzOlOOzdg2M7QOTsYOhdhzHc8lLBKkzHw/viewform?usp=sf_link"></iframe>
    </div>
  </div>
</div>

<div id="google_form_2" class="modal">
  <div class="modal-content">
    <div class="heading">
      <a href="#google_form_2" class="close">{% include 'icon-pack' with icon: 'close' %}</a>
    </div>
    <div class="body">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9p7ucU5XN8Lz5gj88nBppyIA1nK-TEyf-cMQcybvv5AWvBg/viewform?usp=sf_link"></iframe>
    </div>
  </div>
</div>