{% comment %}
** Image with text overlay - homepage partial **
- Draggable section
{% endcomment %}
{% unless section.settings.wide_display %}
<div class="container">
  <div class="sixteen columns">
{% endunless %}

    {% assign count = 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'image-text' %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% if count == 2 %}
      {% assign cls = 'one-half medium-down--one-whole' %}
    {% else %}
      {% assign cls = 'one-whole' %}
    {% endif %}
    {% assign count = 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'image-text' %}
        {% assign count = count | plus: 1 %}
        {% capture icons %}
          {% for item in section.blocks %}
            {% if item.type == 'icon' and item.settings.banner_num contains count %}
              <div class="one-third columns">
                {% if item.settings.svg != blank %}
                  {{ item.settings.svg }}
                {% else %}
                  {% render 'image-picker' with 
                    image: item.settings.image,
                    alt: item.settings.image.alt
                  %}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% endcapture %}
        <div class="{{cls}} column">
          {% include 'include-image-with-text-overlay' with type: 'block', icons: icons %}
        </div>
      {% endif %}
    {% endfor %}

{% unless section.settings.wide_display %}
  </div>
</div>
{% endunless %}

{% schema %}

{
  "name": "Image with text overlay",
  "class": "image-with-text-overlay-section under-menu",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image-text",
      "name": "Image with text block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First button link"
        },
        {
          "type": "checkbox",
          "id": "modal_button",
          "label": "Modal Button enable?"
        },
        {
          "type": "checkbox",
          "id": "button1_highlight",
          "label": "Highlight first button"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Second button link"
        },
        {
          "type": "checkbox",
          "id": "button2_highlight",
          "label": "Highlight second button"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "select",
          "id": "mobile_image_crop",
          "label": "Image cropping",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "set_max_height",
          "label": "Max height"
        },
        {
          "type": "checkbox",
          "id": "mobile_text_below_image",
          "label": "Show text below image",
          "default": true
        },
        {
          "type": "color",
          "id": "mobile_text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon (image)"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "Icon (svg)"
        },
        {
          "type": "text",
          "id": "banner_num",
          "label": "Banner Number"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}

{% endschema %}
